/********** ASSETS **********/

/***** COLOURS

#333333, hsl(0, 0%, 20%),  rgb(51, 51, 51); - Main background (gray)
#353827, hsl(71, 18%, 19%), rgb(54, 57, 40) - Alternate background (moss green)
#5f7000, hsl(69, 100%, 22%), rgb(95, 112, 0) - Main text (forest green)
#abb8c3,  hsl(207, 17%, 72%), rgb(171, 185, 196) - Alternate text (sky blue)
#fcb900, hsl(44, 100%, 49%), rgb(250, 183, 0) - CTA (gold)

*****/

/***** FONTS *****/
/* Logo */
@font-face {
  font-family: "Bad Script";
  src: url("../fonts/BadScript-Regular.ttf");
}

/* Headers */
@font-face {
  font-family: Oranienbaum;
  src: url("../fonts/Oranienbaum-Regular.ttf");
}

/* Paragraphs */
@font-face {
  font-family: "Carrois Gothic";
  src: url("../fonts/CarroisGothic-Regular.ttf");
}

/***** VARIABLES *****/
.variables {
  --mainbg: #333333;
  --altbg: #353827;
  --maintxt: #5f7000;
  --alttxt: #abb8c3;
  --cta: #fcb900;
  --logo: "Bad Script", "Lucida Handwriting", monospace;
  --header: Oranienbaum, Georgia, serif;
  --paragraph: "Carrois Gothic", Arial, sans-serif;
}

/********** GLOBAL **********/

/***** CONTAINERS *****/

header,
footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: -8px;
  left: 0;
  background-color: var(--altbg);
  color: var(--alttxt);
}

header {
  top: 0;
  height: 140px;
  border-bottom: 3px solid var(--cta);
}

#sitename {
  text-align: center;
}

footer {
  bottom: 0;
  height: 120px;
  padding: 5px 20px 25px 20px;
  border-top: 3px solid var(--cta);
}

body {
  background-color: var(--mainbg);
  color: var(--maintxt);
}

#cardContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#about {
  margin: 50px -8px 0px -8px;
  padding: 0px 120px 100px 120px;
  background-color: var(--alttxt);
  border-top: 3px solid var(--cta);
}

#socials {
  margin: 50px -8px 0px -8px;
  padding: 0px 120px 100px 120px;
}

#picContainer {
  text-align: center;
}

#contact {
  margin: 0px -8px 0px -8px;
  padding: 0px 120px 100px 120px;
  border-top: 3px solid var(--cta);
}

#socials {
  text-align: center;
}

/***** HEADERS *****/

#logo {
  font-family: var(--logo);
  margin: 20px auto -20px auto;
}

#slogan,
#navigation,
#copyright,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header);
}

#slogan {
  margin-top: -20px;
}

h2 {
  margin: 75px auto;
  font-size: 2rem;
  color: var(--alttxt);
}

#about h2 {
  color: var(--maintxt);
  margin-bottom: 10px;
}

h3 {
  font-size: 1.8rem;
  text-decoration: underline;
}

h4,
#copyTxt {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.3rem;
}

h6 {
  font-size: 1.1rem;
}

h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  text-align: center;
}

#logo,
#navigation,
.social-media,
a {
  color: var(--cta);
}

#slogan,
#copyright {
  color: var(--alttxt);
}

/***** LINKS *****/

a {
  color: var(--cta);
}

/***** CONTENT *****/

p,
li {
  font-family: var(--paragraph);
  font-weight: 600;
}

#navigation {
  margin-top: 100px;
  list-style-type: none;
  font-size: 1rem;
  text-align: center;
}

#navigation li {
  display: inline;
  padding: 5px 15px;
}

.card {
  margin-top: 20px;
  padding: 10px;
  background-color: var(--altbg);
  color: var(--alttxt);
  max-width: 300px;
  text-align: center;
  border: 1px solid var(--cta);
  border-radius: 15px;
}

.preview {
  max-width: 300px;
  border: 1px solid var(--cta);
  border-radius: 15px;
}

.icon {
  width: 45px;
  padding: 0px 5px;
}

#profilePic {
  width: 100px;
  border: 1px solid var(--cta);
  border-radius: 15px;
}

input,
textarea {
  width: 90%;
}

/********** MEDIA QUERIES **********/

/***** MOBILE *****/
@media only screen and (max-width: 500px) {
  /*** CONTAINERS ***/

  /*** HEADERS ***/

  #logo {
    font-size: 2.1rem;
  }

  #slogan {
    font-size: 1.4rem;
  }
  /*** LINKS ***/

  /*** CONTENT ***/
}

/***** TABLET *****/
@media only screen and (min-width: 500px) {
  /*** CONTAINERS ***/

  /*** HEADERS ***/

  #logo {
    font-size: 2.3rem;
  }

  #slogan {
    font-size: 1.6rem;
  }
  /*** LINKS ***/

  /*** CONTENT ***/
}

/***** DESKTOP *****/
@media only screen and (min-width: 910px) {
  /*** CONTAINERS ***/

  /*** HEADERS ***/

  #logo {
    font-size: 2.5rem;
  }

  #slogan {
    font-size: 1.8rem;
  }
  /*** LINKS ***/

  /*** CONTENT ***/
}
