/********** ASSETS **********/

/***** COLORS

#330900, hsl(0.03, 1.00, 0.10),  rgb(51, 9, 0); - Main background (dark red)
#002a33, hsl(0.53, 1.00, 0.10), rgb(0, 42, 51) - Alternate background (dark blue)
#fcb900, hsl(0.12, 1.00, 0.49), rgb(252, 185, 0) - Main text (gold)
#e7edff, hsl(0.63, 1.00, 0.95), rgb(231, 237, 255) - Alternate text (pale blue)
#badb00, hsl(0.19, 1.00, 0.43), rgb(186, 219, 0) - CTA (lime green)

*****/

/***** FONTS *****/
/* Logo */
@font-face {
  font-family: "Bad Script";
  src: url("../fonts/BadScript-Regular.ttf");
}

/* Headers */
@font-face {
  font-family: Oranienbaum;
  src: url("../fonts/Oranienbaum-Regular.ttf");
}

/* Paragraphs */
@font-face {
  font-family: "Carrois Gothic";
  src: url("../fonts/CarroisGothic-Regular.ttf");
}

/***** VARIABLES *****/
.variables {
  --mainbg: #330900;
  --altbg: #002a33;
  --maintxt: #fcb900;
  --alttxt: #e7edff;
  --cta: #badb00;
  --logo: "Bad Script", "Lucida Handwriting", monospace;
  --header: Oranienbaum, Georgia, serif;
  --paragraph: "Carrois Gothic", Arial, sans-serif;
}

/********** GLOBAL **********/

/***** CONTAINERS *****/

header,
footer {
  margin: -8px;
  left: 0;
  background-color: var(--altbg);
  color: var(--alttxt);
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  top: 0;
  height: 140px;
  border-bottom: 3px solid var(--cta);
}

#sitename {
  text-align: center;
}

nav {
  display: none;
  margin: -8px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 5px;
  background: var(--mainbg);
  text-align: center;
  border-bottom: 2px solid var(--cta);
}

ul {
  margin: 10px 0px;
  padding: 0;
}

footer {
  bottom: 0;
  height: 90px;
  padding: 5px 20px 25px 20px;
  border-top: 3px solid var(--cta);
}

body {
  background-color: var(--mainbg);
  color: var(--maintxt);
}

#cardContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#about {
  margin: 50px -8px 0px -8px;
  background-color: var(--altbg);
  border-top: 3px solid var(--cta);
}

#contact {
  margin: 0px -8px 0px -8px;
  border-top: 3px solid var(--cta);
}

#socials {
  margin: 50px -8px 0px -8px;
  text-align: center;
}

#picContainer {
  text-align: center;
}

#contactForm {
  margin-top: 20px;
}

/***** HEADERS *****/

#logo {
  font-family: var(--logo);
  margin: 20px auto -10px auto;
}

#slogan,
#navigation,
#copyright,
h1,
h2,
h3,
h4,
h5,
h6,
label {
  font-family: var(--header);
}

h2 {
  margin: 75px auto;
  font-size: 2rem;
  color: var(--maintxt);
}

#about h2,
#contact h2 {
  margin-bottom: 10px;
}

h3 {
  font-size: 1.8rem;
  text-decoration: underline;
  color: var(--maintxt);
}

h4,
#copyTxt {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.3rem;
}

h6 {
  font-size: 1.1rem;
}

h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  text-align: center;
}

#logo,
#navigation {
  color: var(--cta);
  font-size: 1.3rem;
}

#slogan,
#copyright {
  color: var(--alttxt);
}

label {
  padding: 5px 15px;
  background-color: var(--cta);
  color: var(--altbg);
  font-size: 1.3rem;
  font-weight: 600;
  border-top: 2px solid var(--altbg);
  border-left: 2px solid var(--altbg);
  border-right: 2px solid var(--altbg);
  border-radius: 15px 15px 0px 0px;
}

.social-media {
  color: var(--maintxt);
  font-size: 1.3rem;
}

/***** LINKS *****/

a {
  color: var(--cta);
  font-size: 1.3rem;
}

nav a {
  font-family: var(--header);
}

#submit {
  padding: 10px 20px;
  background-color: var(--cta);
  color: var(--altbg);
  font-family: var(--header);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 2px;
  border: 2px solid var(--altbg);
  border-radius: 15px;
}

/***** CONTENT *****/

p,
li {
  font-family: var(--paragraph);
  font-weight: 600;
}

#about p {
  line-height: 200%;
  color: var(--alttxt);
}

#navigation {
  margin-top: 100px;
  list-style-type: none;
  font-size: 1rem;
  text-align: center;
}

nav li {
  display: inline;
  padding: 0px 15px;
}

.card {
  margin-top: 20px;
  padding: 10px;
  background-color: var(--altbg);
  color: var(--alttxt);
  max-width: 300px;
  text-align: center;
  border: 1px solid var(--cta);
  border-radius: 15px;
}

.preview {
  max-width: 300px;
  border: 1px solid var(--cta);
  border-radius: 15px;
}

.icon {
  width: 45px;
}

#profilePic {
  width: 100px;
  border: 1px solid var(--cta);
  border-radius: 15px;
}

#contactForm {
  text-align: center;
}

input,
textarea {
  margin-bottom: 20px;
  display: inline-block;
  height: 30px;
  background-color: var(--alttxt);
  color: var(--mainbg);
  border: 2px solid var(--altbg);
  border-radius: 15px;
}

.some {
  padding: 5px;
}

/********** MEDIA QUERIES **********/

/***** MOBILE *****/
@media only screen and (max-width: 500px) {
  /*** CONTAINERS ***/

  #about,
  #socials {
    padding: 0px 40px 100px 40px;
  }

  #contact {
    padding: 0px 40px 10px 40px;
  }

  /*** HEADERS ***/

  #logo {
    font-size: 1.8rem;
  }

  #slogan {
    font-size: 1.4rem;
    margin-top: -10px;
  }
  /*** LINKS ***/

  nav a {
    font-size: 0.9rem;
  }

  /*** CONTENT ***/

  input,
  textarea {
    width: 100%;
  }

  textarea {
    height: 100px;
  }
}

/***** TABLET *****/
@media only screen and (min-width: 500px) {
  /*** CONTAINERS ***/

  #about,
  #socials {
    padding: 0px 80px 100px 80px;
  }

  #contact {
    padding: 0px 80px 10px 80px;
  }

  /*** HEADERS ***/

  #logo {
    font-size: 2.3rem;
  }

  #slogan {
    font-size: 1.6rem;
    margin-top: -15px;
  }
  /*** LINKS ***/

  nav a {
    font-size: 1.2rem;
  }

  /*** CONTENT ***/
  input,
  textarea {
    width: 70%;
  }

  textarea {
    height: 100px;
  }
}

/***** DESKTOP *****/
@media only screen and (min-width: 910px) {
  /*** CONTAINERS ***/

  #about,
  #socials {
    padding: 0px 120px 100px 120px;
  }

  #contact {
    padding: 0px 120px 10px 120px;
  }

  /*** HEADERS ***/

  #logo {
    font-size: 2.5rem;
  }

  #slogan {
    font-size: 1.8rem;
    margin-top: -20px;
  }
  /*** LINKS ***/

  nav a {
    font-size: 1.5rem;
  }

  /*** CONTENT ***/

  input,
  textarea {
    width: 50%;
  }

  textarea {
    height: 150px;
  }
}
